<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.list">

    <uses-permission android:name="android.permission.START_VIEW_PERMISSION_USAGE" />

    <application>
        <activity
            android:name=".uitest.SecondTestActivity"
            android:exported="true" />
        <activity
            android:name=".uitest.FirstTestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.host.HostActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>