<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.detials">

    <application>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.Orange_task.NoActionBar">
            <nav-graph android:value="@navigation/details_nav" />
        </activity>
    </application>

</manifest>